<!-- Navigation -->

<script>

  function goToManage() {
    //window.location.href="/manage/" + getCookie("userName");
    $("#page-top").load("/manage", { "uname": getCookie("userName") });
  }
  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function logout() {
    alert("logout");
    $.get("/login/logout",{ },
            function (data, status) {
              window.location = "/";
            }
        );
  };
</script>
<div class="container">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">Flower RM</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav text-uppercase ml-auto" id="navBarList">
      <li class="nav-item" id="aboutNavBar">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <% if(uname != ""){ %>
      <li class="nav-item" id="CatalogNavBar">
        <a class="nav-link js-scroll-trigger" href="#catalog">Catalog</a>
      </li>
      <% }; %>
      <li class="nav-item" id="ContactNavBar">
        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
      </li>
      <% if(uname != "" && role=="manager"){ %>
      <li class="nav-item" id="manageNavBar">
        <a class="nav-link js-scroll-trigger" href="/users/manage">Manage users</a>
      </li>
      <% }; %>
      <% if(uname != "" && role=="provider"){ %>
      <li class="nav-item" id="manageFlowerNavBar">
        <a class="nav-link js-scroll-trigger" href="/flowers/manage">Manage flowers</a>
      </li>
      <% }; %>
      <% if(uname != ""){ %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Dropdown</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="background-color: rgba(255, 255, 255, 0.5); position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
        <a class="nav-link js-scroll-trigger" onclick="openUserModal()" href="#">Edit</a>
        <a class="nav-link js-scroll-trigger" href="#">Something else</a>
        <div class="dropdown-divider"></div>
          <a class="nav-link js-scroll-trigger" onclick="logout()" href="#">Logout</a>
        </div>
      </li>
      <% }; %>
      <% if(!(uname != "")){ %>
      <li class="nav-item" id="loginNavBar">
        <a class="nav-link js-scroll-trigger" onclick="openLoginModal()" href="#">Login</a>
      </li>
      <% }; %>
    </ul>
  </div>
  <% if(uname != ""){ %>
    <p class="navbar-brand" href="#page-top">
      <%= "Hello " + uname%>
    </p>
    <% }; %>
</div>