<div class="modal-content modal-dialog modal-body">
    <span class="close">&times;</span>
    <div>
        <label for="fName">Flower Name</label>
        <input type="text" id="fname" required>

        <label for="fcolor">Flower color</label>
        <input type="text" id="fcolor" required>

        <label for="fcost">Cost</label>
        <input type="text" id="fcost" required>

        <label for="ffile" id="pictureLabel">Picture</label>
        <input type="file" id="ffile" name="file" />
        <a href="#" id="clear">Clear selected file</a>
        </br>
        </br>
        <label for="urlFile">Or URL</label>
        <input type="text" id="urlFile" placeholder="Url of the flower picture.." />
    </div>
    <input type="submit" id="submit" value="Submit">
</div>
</div>