<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Flower RM - Reset Password</title>

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../stylesheets/modal.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>>
    <script src="../javascripts/md5.js"></script>
</head>

<body>
    <div class="modal" style="display: block">
        <form class="modal-content" onsubmit="doReset()" action="javascript:void(0);">
            <div class="container">
                <label for="pass" id="lablePass">New Password</label>
                <input type="password" id="pass" name="password" value="" required>
                <label for="vpass" id="lableVpass">Confirm Password</label>
                <input type="password" id="vpass" name="vpassword" value="" required>
                </br>
                </br>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <p id="uuid" hidden>
        <%=uuid%>
    </p>
    <script>
        function doReset() {
            if ($("#pass").val() != $("#vpass").val())
                alert("Password and confirm password doesn't match");
            else {
                $.post("/doReset",
                    {
                        pass: md5($("#pass").val()),
                        uuid: $("#uuid").text().replace(/\s/g,'')
                    },
                    function (data, status) {
                        window.location.replace("http://localhost");
                    });
            }
        }
    </script>
</body>

</html>