<!-- views/templateLogReg/partials/head.ejs -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Flower RM</title>

<!-- Bootstrap core CSS -->
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="stylesheets/owl.carousel.min.css">
<link rel="stylesheet" href="stylesheets/carousel.css">


<!-- Custom styles for this template -->
<link href="stylesheets/agency.min.css" rel="stylesheet">
<link href="stylesheets/login-modal.css" rel="stylesheet">
<link href="stylesheets/modal.css" rel="stylesheet">
<link href="stylesheets/loader.css" rel="stylesheet">
<script src="javascripts/md5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascripts/modals/sign_up_modal.js"></script>
<script src="javascripts/modals/login_modal.js"></script>
<script src="javascripts/modals/reset_password_modal.js"></script>
<script src="javascripts/modals/edit_user_modal.js"></script>

<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="javascripts/jqBootstrapValidation.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/jquery.min.js"></script>
<script src="javascripts/jquery.easing.1.3.js"></script>
<script src="javascripts/jquery.waypoints.min.js"></script>
<script src="javascripts/jquery.stellar.min.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/owl.carousel.min.js"></script>
<!-- <script src="javascripts/contact_me.js"></script> -->





