<meta charset="utf-8">
<title>Flower RM - Users</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="../javascripts/md5.js"></script>
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap.min.js"></script>
<!-- Custom styles for this template -->
<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../stylesheets/user_managment.css" rel="stylesheet">
<link href="../stylesheets/modal.css" rel="stylesheet"> 
<link href="../stylesheets/agency.min.css" rel="stylesheet">
<link href="../stylesheets/floatin-button.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">