<form id="profile-form" class="modal-content animate" action="javascript:void(0);" onsubmit="">
    <div class="container">
        <label for="fname-profile">First Name</label>
        <input type="text" id="fname-profile" required>
        <label for="lname-profile">Last Name</label>
        <input type="text" id="lname-profile" required>
        <label id="luname-profile" for="uname-profile">User Name</label>
        <input type="text" id="uname-profile" required>
        <label for="mail-profile">Email</label>
        <input type="email" id="mail-profile" required>
        <label id="lpass-profile" for="pass-profile">Password</label>
        <input type="password" id="pass-profile">
        <label id="lvpass-profile" for="vpass-profile">Confirm Password</label>
        <input type="password" id="vpass-profile">
        <label for="role-profile">Role</label>
        <select id="role-profile" required>
            <% if(role=="manager"){ %>
            <option value="manager">Manager</option>
            <option value="customer">Customer</option>
            <option value="provider">Provider</option>
            <% }; %>
            <option value="employee" selected="selected">Employee</option>
        </select>
        <label for="branch-profile" id="lbranch-profile">Branch</label>
        <select id="branch-profile">
            <% branches.forEach(function(branch) { %>
            <option>
            <%- branch.id %>
            <%- branch.name %>,
            <%- branch.address %>
            </option>
            <% }); %>
        </select>
        <label for="gender-profile">Gender</label>
        <select id="gender-profile" required>
            <option value="male" selected="selected">Male</option>
            <option value="female">Female</option>
        </select>
        </br>
        </br>
        <% if(role=="manager"){ %>
            <input type="checkbox" id="cpass-profile" onclick="editPassword()">
            <label for="uname-editUser" id="lcpass-profile">Edit password</label>
            </br>
            <input type="checkbox" id="delete-profile">
            <label for="delete-profile" id="ldelete-profile">Delete User</label>
        <% }; %>
    </div>
    <button id="submit-profile" type="submit"></button>
</form>