<form class="modal-content animate" onsubmit="sendAnEmail()" action="javascript:void(0);">
    <div class="container">
        <label for="mail">Enter Email for reset password</label>
        <input type="email" id="mail-reset" required>
        <button type="submit">Send An Email</button>
    </div>
</form>