<form class="modal-content animate" onsubmit="addFlower()" action="javascript:void(0);">
    <div class="container">
        <label for="name-flower">Flower Name</label>
        <input type="text" id="name-flower" required>

        <label for="color-flower">Flower color</label>
        <input type="text" id="color-flower" required>

        <label for="cost-flower">Cost</label>
        <input type="number" id="cost-flower" required>

        <label for="file-flower" id="lpicture-flower">Picture</label>
        <input type="file" id="file-flower" />
        <a href="#" id="clear-flower">Clear selected file</a>
        </br>
        <label for="url-flower" id="lurl-flower">Or URL</label>
        <input type="text" id="url-flower" placeholder="Url of the flower picture.." />
        <button id="submit-flower" type="submit">Submit</button>
</div>
</form>